fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
redis
celery
yfinance
scikit-learn
xgboost
email-validator==2.2.0
ccxt
joblib
groq
httpx
requests
newsapi-python
aiosmtplib
python-dotenv
alembic
pytest
pytest-asyncio
