fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic-settings
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1
python-multipart
redis
celery
yfinance
scikit-learn
xgboost
email-validator==2.2.0
ccxt
joblib
groq
httpx
requests
newsapi-python
aiosmtplib
python-dotenv
alembic
pytest
pytest-asyncio
ta